/*main-style*/

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Cuprum', 'Tahoma', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color:#000000;
  line-height: 24px;
  background-color: #fff;
  }

a {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}

.site-navigation {
  font-size: 17px;
  color: #ffffff;
  line-height: 17px;
  background-color: #32425c;
}

.list-style {
  list-style: none;
  padding: 0;
}

.user-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

/*header*/
.header-wrap {
  background-color: #f3f7f9;
}


.top-menu-wrap {
  background-color: #293449;
  font-size: 17px;
}

.search input,
.search label {
  background-color: #293449;
  color: #ffffff;
  border: none;
}

.search input:hover,
.search label:hover path {
  background-color: #212a3a;
  fill: #ffffff;
}

.bookmark,
.busket {
  color: #6a7180;
}
.bookmark:hover,
.bookmark:hover path {
  background-color: #212a3a;
  color: #ffffff;
  fill: #ffffff;
}

.bookmark:active,
.bookmark:active path {
  background-color: #293449;
  color: #babbbd;
  fill: #babbbd;
}

.busket:hover,
.busket:hover path,
.busket:hover circle {
  background-color: #212a3a;
  color: #ffffff;
  fill: #ffffff;
}

.busket:active,
.busket:active path,
.busket:active circle {
  background-color: #293449;
  color: #babbbd;
  fill: #babbbd;
}

.logo-button {
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
}

.logo-button:hover {
  background-color: #ca2c37;
  border-bottom: 5px solid #9a212a;
}

.logo-button:active {
  background-color: #ba2732;
  border-bottom: 5px solid #8e1e26;
}

.login-link a,
.registration-link a {
  font-size: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login-link a:hover,
.registration-link a:hover {
  color: #ee3643;
}

.login-link a:active,
.registration-link a:active {
  color: #e7e7e7;
}

.about {
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
}

.phone {
border: solid 3px #ffffff;
color: #ee3643;
font-size: 21px;
margin-bottom: 5px;
}

.adress {
  margin-left: 5px;
}
/*block main*/

.red {
  background-color: #ee3643;
}

.yellow {
  background-color: #ffbf47;
}

.blue {
  background-color: #3bbce3;
  }

.pink {
  background-color: #dc91d8;
  }

.green {
  background-color: #8ed78f;
  }

.golden {
  background-color: #ffc047;
}

.goods-category h3 {
  font-size: 24px;
  color: #ffffff;
}
.catalog-button {
  background-color: rgba(229, 172, 64, 0.3);
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 5px;
}

.catalog-button:hover,
.catalog-button:focus {
  background-color: rgba(229, 172, 64, 0.2);
  }

.catalog-button:active {
  background-color: rgba(229, 172, 64, 0.1);
  }

.button {
  color:#ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  }

.button:hover,
.button:focus {
    background-color: #ca2c37;
 }

 .button:active {
    background-color: #ba2732;
 }

.header-slide h3 {
  font-size: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.header-slide span {
  font-size: 18px;
  color: #ffffff;
}

.header-slide .button {
  width: 195px;
  height: 38px;
  border-radius: 5px;
  text-align: center;
  padding-top: 8px;
}

.header-goods,
.header-producers{
  background-color: #f9f5f0;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.card-list a {
  color: #000000;
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 18px;
}

.new-mark {
  position: absolute;
  left: 158px;
}

.old-price {
  color:#a9a9a9;
  font-size: 17px;
  text-decoration: line-through;
}

.button-price {
  color: #ffffff;
  font-size: 17px;
  background-image: url("../img/decorative/red-button.svg");
  background-repeat: no-repeat;
}

.buy-button {
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  text-transform: uppercase;
  border-radius: 5px;
}

.buy-button:hover path,
.buy-button:hover circle,
.buy-button:active path,
.buy-button:active circle {
  fill: #ffffff;
}

.header-buy-button {
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  text-align: center;
}

.header-buy-button:hover,
.header-buy-button:focus,
.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
}

.buy-button:active,
.header-buy-button:active {
  background-color: #518534;
}

.add-bookmark-button {
  border: 3px solid #63a63e;
  text-transform: uppercase;
  color: #000000;
  border-radius: 5px;
}

.add-bookmark-button:hover,
.add-bookmark-button:focus {
  border: 3px solid #32425c;
}

.add-bookmark-button:active {
  border: 3px solid #c1c6ce;
  color: #d0d2d6;
}

.producers-header {
  background-color: #f9f5f0;
}

.producers-card {
  border: 1px solid #eaeaea;
}

.service-container {
  background-color: #f9f5f0;
}

.service-list h3 {
  color: #32425c;
  font-size: 36px;
  text-transform: uppercase;
}

.service-navigation li {
  background-color: #32425c;
  font-size: 21px;
  border-bottom:1px solid #293449;
}

.service-navigation li:hover,
.service-navigation li:focus {
  background-color: #293449;
}

.service-navigation li:active {
  border-bottom:1px solid #ffffff;
}

.features ul {
  font-weight: 700;
  font-size: 18px;
}

/*footer*/

.top-footer{
  background-color: #32425c;
}

.bottom-footer {
  background-color: #293449;
}

footer {
  font-size: 18px;
  color: #ffffff;
}

.footer-navigation a {
 border-bottom: 2px solid #32425c;
}

.footer-navigation-bottom a {
  border-bottom: 2px solid #32425c;
 }

.footer-navigation a:hover,
.footer-navigation a:focus {
  border-bottom: 2px solid #fff;
}

.footer-navigation a:active {
  opacity: 0.5;
  border: none;
}

.footer-navigation-bottom a,
.footer-conection a {
  color: #ffd180;
}

.footer-navigation-bottom a:hover,
.footer-navigation-bottom a:focus,
.footer-conection a:hover,
.footer-conection a:focus {
  border-bottom: 2px solid #ffd180;
}

.footer-navigation-bottom a:active,
.footer-navigation-bottom a:active {
  border: none;
  opacity: 0.5;
}

.vk {
  background: url(../img/decorative/icon-vk.svg) no-repeat;
  background-position: 50% 50%;
  background-color: #212a3a;
  border-radius: 50%;
}

.fb {
  background: url(../img/decorative/icon-fb.svg) no-repeat;
  background-position: 50% 50%;
  background-color: #212a3a;
  border-radius: 50%;
}

.insta {
  background: url(../img/decorative/icon-insta.svg) no-repeat;
  background-position: 50% 50%;
  background-color: #212a3a;
  border-radius: 50%;
}

.vk:hover,
.fb:hover,
.insta:hover,
.vk:active,
.fb:active,
.insta:active {
  background-color: #ee3643;
}

/*main-catalog*/

.sorting,
aside,
.catalog-navigation a,
.filter-button {
  font-family:'PT Sans', 'Tahoma', sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.catalog-navigation a {
  font-size: 13px;
}

.catalog-header {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: normal;
  background-color: #f2f6f8;
}

.catalog-filter h3 {
  font-size: 13px;
  font-weight: 400;
  background-color: #f2f6f8;
}

.catalog-filter legend,
.pricefilter {
  font-size: 17px;
  font-weight: 700;
}

.pricefilter-wrap {
  background-color: #f7f3ec;
}

.pricefilter-wrap label {
  background-color: #fff;
}
.priceoutput {
  background-color: #fff;
}

.priceoutput output {
  background-color: #f7f3ec;
}

.pricefilter,
.manufacturers,
.supply {
  border: none;
}

.supply input {
  margin-right: 15px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.pricefilter,
.manufacturers {
  border-bottom: 2px solid #e5e5e5;
}

.manufacturers li {
  font-size: 15px;
}

.filter-button {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  cursor: pointer;
}

.sorting {
  font-size: 13px;
  background-color: #f7f3ec;
}

.pages-navigation-list a {
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #e5e5e5;
}

.pages-navigation-list a:hover,
.pages-navigation-list a:focus {
  border: 2px solid #bdc6ca;
}

.general-info {
  background-color: #f2f6f8;
}

/*grid*/

/*header*/

.logo-wrap {
  width: 430px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order-wrap {
  width: 460px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-button {
  width: 220px;
  height: 47px;
  text-align: center;
  padding: 10px 0;
}

.search svg {
  margin: 0 10px;
}

.search input,
.search label {
  min-height: 40px;
}

.bookmark,
.busket,
.header-buy-button {
  width: 150px;
  padding: 10px 0;
  text-align: center;
}

.top-menu {
  width: 960px;
  margin: 0 auto;
  height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.about {
  width: 200px;
}

.contact-header {
  width: 260px;
}

.phone {
  width: 270px;
  text-align: center;
  padding: 7px 47px 7px 10px;
}
.phone img {
  margin-right: 35px;
}

.user-navigation {
  width: 280px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

.login-link a {
  width: 120px;
  min-height: 45px;
  text-align: center;
  padding-top: 10px;
}

.registration-link a {
  width: 150px;
  min-height: 45px;
  text-align: center;
  padding-top: 10px;
}

.header-wrap {
  min-height: 280px;
}

.bottom-menu {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 158px;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 10px;
  margin: 0 auto;
}

.site-navigation a {
  min-height: 55px;
  text-align: center;
  padding: 20px 30px;
}

.site-navigation {
  width: 940px;
  min-height: 60px;
  border-bottom: 5px solid #293449;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/*main*/

main {
  margin: 0 auto;
  margin-top: 58px;
}

.main-container,
.popular-goods,
.popular-producers,
.company-info-wrap,
.service {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.goods-category {
  width: 300px;
  height: 123px;
  position: relative;
}


.goods ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.catalog-button {
  display: block;
  width: 135px;
  height: 38px;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  left:20px;
  bottom:20px;
}

.goods-category h3 {
  position: absolute;
  left:20px;
}

.goods-category img {
  position: absolute;
  left:190px;
  top:30px;
}

.goods-category-wrap {
  width: 300px;
  height: 265px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider input[type="radio"] {
  display: none;
}

.slider-list {
  width: 200%;
  transition: transform 0.8s ease;
}

.slider-inner {
  overflow: hidden;
}

.slider-controls {
  position: absolute;
  bottom: 30px;
  z-index: 10;
  left: 290px;
}

.icon-left {
  position: absolute;
  bottom: 80px;
  right: 290px;
}

.icon-right {
  position: absolute;
  bottom: 80px;
  left: 290px;
}

.slider-controls label {
  display: inline-block;
  width: 10px;
  height: 10px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.8);
  border-radius: 50%;
  margin: 0 5px;
  border: 2px solid  #ffffff;
  background-color: #ffffff;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"] ,
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}

#btn-1:checked ~ .slider-inner .slider-list {
  transform: translate(0);
 }

 #btn-2:checked ~ .slider-inner .slider-list {
  transform: translate(-620px);
 }

.slider {
  width: 620px;
  min-height: 265px;
  margin-right: 20px;
  margin-top: 6px;
  position: relative;
  float: left;
}

.slider-item-1 {
  width: 620px;
  min-height: 265px;
  background-image:  url("../img/content/slider-1.jpg");
  background-repeat: no-repeat;
  float: left;
  position: relative;
}

.slider-item-2 {
  width: 620px;
  min-height: 265px;
  background-image:  url("../img/content/slider-2.jpg");
  background-repeat: no-repeat;
  float: left;
  position: relative;
}

.popular-goods {
  margin-top: 50px;
}

.header-goods .button,
.header-producers .button {
  width: 255px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
}

.header-slide h3 {
  position: absolute;
  top: -5px;
  left: 25px;
}

.header-slide span {
  position: absolute;
  top: 65px;
  left: 25px;
}

.header-slide .button {
  position: absolute;
  top: 205px;
  left: 25px;
}

.header-goods,
.header-producers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90px;
  padding: 25px;
}

.header-producers h2 {
  margin-top: 5px;
}

.header-goods h2,
.header-producers {
  margin-top: 10px;
}

.card-item {
  width: 220px;
  min-height: 320px;
  border: 1px solid #eaeaea;
  text-align: center;
  position: relative;
}

.button-price {
  display: block;
  height: 38px;
  width: 140px;
  position: absolute;
  bottom: 20px;
  left: 40px;
  padding-top: 7px;
}

.old-price {
  position: absolute;
  bottom: 70px;
  left: 75px;
}

.card-list a {
  position: absolute;
  bottom: 100px;
  right: 10px;
  left: 10px;
}

.add-bookmark-button,
.buy-button {
  width: 135px;
  min-height: 38px;
}

.buy-button {
  margin-bottom: 5px;
  padding-top: 7px;
  position: relative;
}

.buy-button svg {
  position: absolute;
  left:10px;
  top:10px;
}

.add-bookmark-button {
  padding-top: 5px;
}

.card-item .card-action {
  display:none;
}

.card-item:hover .card-action {
  display: block;
  position: absolute;
  top: 40px;
}

.card-item:hover .img-card {
  display: none;
}

.card-item:hover {
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.5);
}

.main-catalog-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-top: 3px;
  margin-bottom: 15px;
}

.producers-card {
  width: 220px;
  height: 145px;
  text-align: center;
  padding-top: 50px;
  margin: 10px 0;
}

.producers-card:hover {
  box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.5);
}

.producers-card:active {
  box-shadow: 0 5px 5px 0 rgb(0, 0, 0, 0.5);
}

.producers-card:nth-child(4),
.producers-card:nth-child(7) {
  padding-top: 20px;
}

.producers-card:nth-child(6),
.producers-card:nth-child(8) {
  padding-top: 30px;
}

.producers-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  flex-wrap: wrap;
}

.service-container {
  margin-top: 75px;
}

.service-promo {
  padding-top: 66px;
  padding-left: 205px;
}

.service-promo p {
  width: 400px;
  margin-bottom: 55px;
  margin-top: 30px;
}

.service-navigation {
  list-style: none;
  padding: 0;
  width: 240px;
  margin-left: 205px;
  margin-bottom: 60px;
  margin-right: 80px;
  float: left;
}

.service-navigation label {
  display: block;
  min-height: 62px;
  padding-left: 20px;
  padding-top: 20px;
}

.service-navigation li {
  min-height: 62px;
}

.services input {
  display: none;
}

.service-list {
  width: 300%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-list li {
  float: left;
}

.service-slider-inner {
  overflow: hidden;
  width: 650px;
}

.service-item {
  float: left;
  width: 650px;
  min-height: 290px;
  padding: 0;
  position: relative;
}

.service-item h3 {
  margin-bottom: 27px;
  margin-top: 18px;
}

.service-item-delivery p {
  width: 268px;
}

.service-item-warranty p {
  width: 366px;
}

.service-item-credit p {
  width: 280px;
}

.service-item-delivery img {
  position: absolute;
  top: 35px;
  left: 160px;
}

.service-item-warranty img {
  position: absolute;
  top: 5px;
  left: 220px;
}

.service-item-credit img {
  position: absolute;
  top: 5px;
  left: 140px;
}

.service-item-credit .button {
  width: 195px;
  height: 38px;
  text-align: center;
  padding: 7px 0;
  border-radius: 5px;
  margin-top: 16px;
}

#delivery:checked ~ .service-navigation label[for="delivery"],
#warranty:checked ~ .service-navigation label[for="warranty"],
#credit:checked ~ .service-navigation label[for="credit"] {
  background-color: #ffffff;
}

#delivery:checked ~ .service-slider-inner .service-list {
  transform: translate(0);
}

#warranty:checked ~ .service-slider-inner .service-list {
  transform: translate(-630px);
}

#credit:checked ~ .service-slider-inner .service-list {
  transform: translate(-1260px);
}

.company-info-wrap {
  min-height: 535px;
  padding: 0 10px;
  padding-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.company-info {
  width: 540px;
}

.features {
  margin: 0px;
}

.company-info h2 {
  margin-bottom: 30px;
}

.features .list-style {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
}

.company-info .button {
  width: 220px;
  min-height: 38px;
  text-align: center;
  padding-top: 8px;
  border-radius: 5px;
  margin-top: 35px;
}

.features-item {
  width: 400px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.dash img {
  margin-right: 5px;
  margin-bottom: 5px;
}

.contacts {
  width: 300px;
}

.contacts p {
  width: 180px;
  margin-top: 30px;
  margin-bottom: 35px;
}

.contacts .button {
  width: 300px;
  min-height: 38px;
  text-align: center;
  padding-top: 8px;
  border-radius: 5px;
  margin-top: 30px;
}

/*footer*/

.main-footer {
  margin-top: -10px;
}

.top-footer {
  min-height: 193px;
}

.top-footer .logo-button {
  width: 220px;
  min-height: 67px;
  padding-top: 20px;
  margin-bottom: 10px;
}

.top-footer-wrap {
  width: 340px;
  min-height: 190px;
  float: left;
  margin-right: 50px;
  margin-left: 205px;
}

.footer-navigation {
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
}

.footer-navigation-bottom {
  width: 550px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 25px;
}

.company-right {
  width: 260px;
}

.footer-social {
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: px;
}

.social-button {
  width: 40px;
  height: 40px;
}

.footer-conection {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-conection p {
  width: 140px;
}

.bottom-footer-wrap {
  width: 960px;
  min-height: 107px;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*main-catalog*/

.main-catalog {
  margin: 0 auto;
  width: 940px;
}

.main-catalog h1 {
margin: 0;
margin-bottom: 20px;
}

.catalog-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  min-height: 60px;
  padding-top: 15px;
  margin: 0;
}

.catalog-navigation a {
  padding-right: 15px;
}

.catalog-header {
  width: 940px;
  min-height: 88px;
  padding-top: 30px;
  padding-left: 25px;
}

.catalog-filter {
  width: 220px;
  float: left;
  margin-right: 20px;
}

.catalog-filter h3 {
  min-height: 38px;
  padding-top: 7px;
  padding-left: 15px;
  border-radius: 5px;
  margin: 0;
}

.pricefilter {
  min-height: 135px;
  margin-bottom: 0px;
}

.catalog-filter legend {
  padding: 15px 0;
}

.manufacturers {
 min-height: 260px;
 padding: 0;
 margin: 0;
}

.manufacturers legend {
  padding-top: 15px;
  padding-bottom: 5px;
}

.manufacturers-checkbox input {
  margin-right: 18px;
  margin-left: 7px;
}

.manufacturers ul {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
}

.supply-wrap {
  min-height: 240px;
}

.supply {
  min-height: 130px;
  padding: 0;
}

.filter-button {
  margin-top: 50px;
  width: 140px;
  height: 38px;
  padding: 0;
  text-align: center;
}

.supply legend {
  padding: 0;
  padding-top: 20px;
}

.pricefilter {
  padding: 0;
}

.pricefilter-wrap input {
  width: 220px;
  min-height: 100px;
}

.priceoutput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 15px;
}

.priceoutput output {
  display: block;
  text-align: center;
  padding-top: 7px;
  width: 95px;
  min-height: 37px;
}

.sorting {
 width: 700px;
 min-height: 38px;
 float: left;
 border-radius: 5px;
}

.sorting-head {
  width: 240px;
  min-height: 38px;
  display: block;
  float: left;
  padding-top: 7px;
  padding-left: 15px;
}

.sorting-icons {
  width: 50px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sorting-bar {
 width: 460px;
 margin: 0;
 padding-top: 7px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.catalog-cards {
  width: 700px;
  min-height: 1005px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
}

.card-item {
  margin-top: 20px;
}

.pages-navigation-list a {
  width: 37px;
  min-height: 37px;
  text-align: center;
  padding-top: 5px;
}

.next-page a {
  width: 138px;
}

.pages-navigation-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 283px;
  margin-left: 240px;
  margin-top: 50px;
}

.general-info {
  min-height: 260px;
  margin-top: 55px;
  margin-bottom: -15px;
  padding-top: 70px;
  padding-left: 205px;
}

.general-info p {
  width: 940px;
  margin: 0;
  margin-top: 27px;
}

/*modal-windows*/

.modal-window {
  width: 620px;
  height: 430px;
  border-top: 5px solid #ff5257;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
  position: relative;
}

.top-modal-window {
  font-size: 18px; 
  margin: 0 auto;
  width: 460px;
  height: 320px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bottom-modal-window {
  background-color: #f4f4f4;
  height: 110px;
}

.modal-window input,
.modal-window textarea {
  font-family: 'PT Sans', 'Tahoma', sans-serif;
  font-size: 13px; 
  width: 220px;
  height: 38px;
  padding: 7px;
  border: 2px solid #d7dcde;
}

.modal-window input:hover {
  border: 2px solid #b5b5b5;
}

.modal-window input:focus {
  border: 2px solid #ee3643;
}

.modal-window textarea {
  width: 460px;
  height: 110px;
}

.bottom-modal-window .button {
  width: 460px;
  height: 38px;
  border-radius: 5px;
  margin: 35px 80px;
  cursor: pointer;
}

.modal-close {
  background-color: rgba(255,255,255,0);
  border: none;
  position: absolute;
  top: 0; 
  right: 0;
  cursor: pointer;
}

.map-popup {
  background: url(../img/content/bigmap.jpg) no-repeat;
  background-color: #565656;
  background-size: cover;
  width: 940px;
  height: 450px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.6); 
  position: relative;
}

.modal-window-catalog {
  width: 620px;
  height: 280px;
  border-top: 5px solid #ff5257;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.6);
  position: relative;
}

.top-window-catalog {
  height: 170px;
  width: 430px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-window-catalog h2 {
  margin-top: 75px;
}

.bottom-window-catalog {
  background-color: #f4f4f4;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 35px;
}

.button-order {
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 7px;
  margin-right: 20px;
  margin-left: 25px;
  border-radius: 5px;
}

.button-buy {
  width: 220px;
  height: 38px;
  background-color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding-top: 7px;
  border-radius: 5px;
}
